<nav>
    <h2>Menu</h2>
    <ul class="slide">
        <li class="on"><a href="/">All Post</a>
        </li>
        <li><a>Pentesting</a>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/pentesting/ios">iOS</a></li>
                <li><a href="{{ .Site.BaseURL }}/pentesting/android">Android</a></li>
                <li><a href="{{ .Site.BaseURL }}/pentesting/web">Web</a></li>
                <li><a href="{{ .Site.BaseURL }}/pentesting/cloud">Cloud</a></li>
            </ul>
            <span class="down"></span>
        </li>
        <li><a>Wargame</a>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/wargame/lord-of-sql-injection">Lord of SQL Injection</a></li>
                <li><a href="{{ .Site.BaseURL }}/wargame/pwnable.kr">Pwnable.kr</a></li>
                <li><a href="{{ .Site.BaseURL }}/wargame/wargame.kr">Wargame.kr</a></li>
                <li><a href="{{ .Site.BaseURL }}/wargame/xss-game">XSS Game</a></li>
                <li><a href="{{ .Site.BaseURL }}/wargame/owasp">OWASP-MSTG Crackmes</a></li>
            </ul>
            <span class="down"></span>
        </li>
        <li><a>CTF</a>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/ctf/2018">2018</a></li>
                <li><a href="{{ .Site.BaseURL }}/ctf/2019">2019</a></li>
            </ul>
            <span class="down"></span>
        </li>
        <li><a>Error</a>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/error/linux">Linux</a></li>
                <li><a href="{{ .Site.BaseURL }}/error/windows">Windows</a></li>
                <li><a href="{{ .Site.BaseURL }}/error/python">Python</a></li>
            </ul>
            <span class="down"></span>
        </li>
        <li><a>Development</a>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/development/basic">Basic</a></li>
                <li><a href="{{ .Site.BaseURL }}/development/web">Web</a></li>
                <li><a href="{{ .Site.BaseURL }}/development/mobile">Mobile</a></li>
                <li><a href="{{ .Site.BaseURL }}/development/database">Database</a></li>
                <li><a href="{{ .Site.BaseURL }}/development/docker">Docker</a></li>
                <li><a href="{{ .Site.BaseURL }}/development/github-blog">Github Blog</a></li>
                <li><a href="{{ .Site.BaseURL }}/development/secure-coding">Secure Coding</a></li>
                <li><a href="{{ .Site.BaseURL }}/development/cloud">Cloud</a></li>
            </ul>
            <span class="down"></span>
        </li>
        <hr />
        <li><a href="{{ .Site.BaseURL }}/about">About</a></li>
        <li><a href="{{ .Site.BaseURL }}/archive">Archive</a></li>
        <li><a href="{{ .Site.BaseURL }}/tags">Tag</a></li>
    </ul>
</nav>