.post-content > p > code,
.post-content li code {
    background: none;
    color: #000;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

.post-content > pre {
    background-color: $syntax-background;
    color: $text-color;
    padding: 5px;
    border-radius: 3px;
    font-weight: $medium;
    overflow: auto;
}

.post-content > pre > code > a {
    color: $text-color;
}

.highlight {
    overflow: auto;
    border-radius: 3px;

    table {
        width: 100% !important;
        border-spacing: 0 !important;
        margin: 0 !important;
        table-layout: fixed;

        td:first-child {
            width: 3em;
            white-space: nowrap;
            user-select: none;

            pre {
                margin: 0 !important;
                padding: 5px 8px 5px 5px !important;
            }
        }

        td:last-child {
            width: auto;

            pre {
                margin: 0 !important;
                padding: 5px 5px 5px 10px !important;
                overflow-x: auto;
            }
        }
    }
}