.post-content > p > code,
.post-content li code {
    background: none;
    color: #000;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

.post-content > pre {
    background-color: $syntax-background;
    color: $text-color;
    padding: 5px;
    border-radius: 3px;
    font-weight: $medium;
    overflow: auto;
}

.post-content > pre > code > a {
    color: $text-color;
}

.highlight {
    overflow: auto;
    border-radius: 3px;

    .lntable {
        width: 100%;
        border-spacing: 0;
        margin: 0;

        .lntd {
            padding: 0;
            vertical-align: top;

            &:first-child {
                width: 1%;
                white-space: nowrap;
                user-select: none;

                pre {
                    padding: 5px 10px 5px 5px;
                    margin: 0;
                    color: #6e7681;
                    text-align: right;
                    border-right: 1px solid #444;
                }
            }

            &:last-child {
                pre {
                    padding: 5px 5px 5px 10px;
                    margin: 0;
                    overflow: auto;
                }
            }
        }
    }
}