.post-content > p > code,
.post-content li code {
    background: none;
    color: #000;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

.post-content > pre {
    background-color: $syntax-background;
    color: $text-color;
    padding: 5px;
    border-radius: 3px;
    font-weight: $medium;
    overflow: auto;
}

.post-content > pre > code > a {
    color: $text-color;
}